.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 30rem;
    text-align: center;   
}

.valor {
    font-size: 50px;
}

.unit {
    font-size: 40px;
}

.legenda {
    font-size: 25px;
}